[user]
	name = Robert Michael Lim
	email = robertmichaellim@gmail.com
	signingkey = robertmichaellim@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[commit]
	gpgsign = true
