[user]
	name = Robert Michael Lim
	email = robert.lim@everymatrix.com
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[pull]
    rebase = false
